body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    width: 1;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}